html,body,section,nav,main,ul, {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
section {
height: 100vh;
border: 4px solid purple;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
nav {
  height: 10%;
  flex-basis: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}
main {
  height: 92vh;
  flex-basis: 100%;
  background-color: green;
}
ul {
  width: 60%;
  flex-basis: 60%;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
li:hover {
  color: red;
  cursor: pointer;
}
