nav {
  height: 100%;
  flex-basis: 20%;
}
main {
  height: 100%;
  flex-basis: 80%;
  background-image: url(http://www.camarokingla.com/sitebuildercontent/sitebuilderpictures/2000redslpss6speedttophockstrips/01.JPG);
}
ul {
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 0;
}
li {
  padding: 20px 0;
}
